---
title: About | Elena Sosa Lerín
layout: layouts/basic-plus.njk
about: About Me
---
{% block content %}
<main id="main">
<div class="image-container">
    <div class="image-stack">
      <div class="image-stack__item image-stack__item--top">
        <img data-src="/img/portrait-elena-huila-colombia-2018.jpg" loading="lazy" alt="A picture of myself on a windy day against the backdrop of the valley of the Magdalena river in the department of Huila in southwest Colombia." class="lazyload">
      </div>
      <div class="image-stack__item image-stack__item--bottom">
        <img data-src="/img/balconies-puebla.jpg" loading="lazy"
          alt="Upward view of a colonial building in downtown Puebla with balconies in its facade." class="lazyload">
      </div>
    </div>
  </div>

  <article class="content-post">
    <section class="single-post">
      <h3>
        I
        l<span role="img" aria-label="this heart symbol represents the letter 'o' in the word love">&#10084;</span>ve storytelling, photography, and coding.
      </h3>

      <p>
        Hi! <span role="img" aria-label="Waving hand" class="wave">👋</span></p>
      <p>I'm <span role="img" aria-label="Brunette Woman Technologist" class="Woman technologist">👩🏻‍💻</span> Elena.</p>

      <p>
      I'm a first-generation Canadian from Mexico, currently based in<span role="img" aria-label="Round red pushpin" class="red-pin">📍</span>southern Alberta, Canada, close to the <a href="https://www.atlasobscura.com/places/big-rock-erratic" target="blank"> world's largest known glacial erratic</a>. 
      </p>

      <p>I combine my professional experiences and knowledge with my creativity and desire for positive change to create meaningful, informative, and motivating work.</p>

      <p>
        With over a decade of professional experience in ten countries across three continents, I've worked as a media and communications specialist for different organizations in the
        humanitarian and international development sectors.
      </p>

      <p>
        I've written about and have managed strategies and digital products on a wide range of topics like human rights and governance, environmental sustainability, HIV education and prevention, press freedom, gender equality, and cooperative agricultural entrepreneurship.
      </p>

      <p>
      I'm responsible for the communications of an international project led by the Ottawa-based organization <a href="https://www.actioncanadashr.org/" target="blank"> Action Canada</a>. It's focused on advacing comprehensive sexual and reproductive health and rights of youth in Latin America and the Caribbean.
      <p>

      <p>
        I'm passionate about harnessing media and communications as tools to
        amplify voice, facilitate meaningful participation, and foster social
        change.
      </p>

      <p>
        I see code as an ideal complement to these tools. It enhances storytelling and makes sense of information in exciting and engaging ways.
      </p>

      <p>
        <span class="thick">
          <span role="img" aria-label="hand pointing to the right" class="right-hand">&#9758</span> Want to work with me? I'm available for small freelance opportunities. <a href="/contact">Let's talk</a>! 
      </p>
      <br>

      <h3>What I Do</h3>
      <div class="separator"></div>
      
      <ul class="list">
        <li>Content development</li>
        <li>Strategy for communications and/or social media</li>
        <li>Training on media and/or social media</li>
        <li>Social media/product management</li>
        <li>Writing, revising, editing, and copywriting</li>
        <li>HTML, CSS, and JavaScript</li>
        <li>Research and fact-checking</li>
      </ul>
   
      <p>
        <span class="thick">
          <span role="img" aria-label="hand pointing to the right" class="right-hand">&#9758</span> Unsure about what you need? I can help with that too. <span class="wink" aria-label="Winking face">😉</span>
      </p>
      
      <h3>My Interests</h3>
        <div class="separator"></div>
        <ul class="list">
        <li>I'm passionate about journalism and photography, international affairs and development, digital culture, intersectionality, <a href="https://www.shinetheory.com" title="We rise by lifting others." target="blank">shine theory</a>, and human rights.</li>
        <li>I'm an enthusiast for (Mexican) street food, baklavas, and (usually red) wine.</li>
        <li>I also dig Afrobeats and fútbol (I have a special place in my heart for Liverpool's manager, the charming 
          <a
            href="https://www.liverpoolfc.com/news/first-team/390397-jurgen-klopp-message-to-supporters"
            title="Jürgen Klopp's inspiring statement about cancelling football matches due to Covid-19."
            target="blank"
            >Jürgen Klopp</a>, because, how could one not?).</li>
      </ul>
      <br>

      <h3>Education</h3>
      <div class="separator"></div>
      <p>
        <span class="thick">Southern Alberta Institute of Technology, Calgary, Canada
          (2019)</span><br />
        <span role="img" aria-label="arrow" class="outline-arrow">&#10551;</span>
        Certificate of Website Development
      </p>
      <p>
        <span class="thick">Malmö University, Malmö, Sweden (2008 - 2009)</span><br />
        <span role="img" aria-label="arrow" class="outline-arrow">&#10551;</span>
        Master of Arts in International Migration and Ethnic Relations
      </p>
      <p>
        <span class="thick">University of King's College, Halifax, Canada (2001 - 2006)</span><br />
        <span role="img" aria-label="arrow" class="outline-arrow">&#10551;</span>
        Bachelor of Journalism Combined Honours with Political Science
      </p>
       
    </section>
  </article>
  </main>
  {% endblock %}    