---
title: About this Site | Elena Sosa Lerín
layout: layouts/basic-plus.njk
about: About this Site
description: Colophon & other details.
---
{% block content %}
<main id="main">
 <div class="image-container">
    <figure>
      <img data-src="/img/pug-working-on-laptop.jpg" loading="lazy" alt="A pug is seemingly working on a laptop." class="lazyload">
      <figcaption>
        <p><span class="thick">Photo:</span> Image concept based on <a href="https://burst.shopify.com/photos/business-pug-working-on-laptop?c=computer" target="blank">a photo</a> by Matthew Henry from Burst.</p>
      </figcaption>
    </figure>
  </div>
  <article class="content-post">
    <section class="single-post">

      <h3>I'm a rookie developer.</h3>
      <p>
        I designed and painstakingly coded each and every bit of this site from scratch using semantic HTML, CSS, and vanilla JavaScript. 
      </p>

      <p>
      I built a simpler-looking version in 2019, though there was nothing simple about learning how to make it responsive. It was a great learning experience which paved the way for this current version.
      </p>

      <p>I still have a lot to learn. Building this site, which I know isn't perfect (yet), is part of my education. I'm confident that I'll be able to improve and refine my front-end developing skills as I learn and practice more.
      </p>

      <h4>Technical Details</h4>

      <p>
      I built this site with <a href="https://www.11ty.dev/" target="blank"> Eleventy, </a> a static site generator (SSG). It's hosted on <a href="https://www.netlify.com/" target="blank">Netlify</a>.
      </p>

      <p>
      This website uses third-party fonts from Google: <a href="https://fonts.google.com/specimen/Domine?query=domine" target="blank">Domine</a> (body) and <a href="https://fonts.google.com/specimen/Roboto?query=roboto"target="blank">Roboto</a> (headings).
      </p>

      <p>
    I mostly use HTML generated icons shared by <a href="https://www.toptal.com/designers/htmlarrows/symbols/" blank="target">Toptal Designers</a>, but some are from <a href="https://fontawesome.com/" target="blank">Fontawesome</a>.
      </p>

      <h4>Design and Imagery </h4>

      <p>
      The site's colour pallete is inspired by <a href="https://www.behance.net/gallery/34015156/AFRO-FUSION-FESTIVAL" target="blank">the work</a> of illustrator and graphic designer, <a href="https://www.cynthia-alonso.com/" target="blank">Cynthia Alonso</a>, whose use of vibrant colours loudly speaks to my heart.
      </p>

      <p>
      Unless otherwise stated, I took all the images featured on this site. Please do not take my images and state them as your own. If you would like to use any of them on your blog or social media, please credit me in the caption and link to this website.
      </p>

      <h4>In Case of Website Issues</h4>

      <p>
      If you experience any issues navigating this site, or have any comments or suggestions on how to improve its functionality or design, <a
        href="mailto:elenasosalerin@gmail.com?subject=Hi! I had an issue with your site."
        target="_self" data-content="elenasosalerin@gmail.com" data-type="mail"
        >please let me now</a>. I'd greatly appreciate your feedback.
      </p>
      
    </section>
  </article>
  </main>
  {% endblock %}    

