---
title: Contact | Elena Sosa Lerín
layout: layouts/basic-plus.njk
about: Get in Touch
description: Have an idea or project? Let's collaborate and create something great.
---
{% block content %}
<article class="content-post">
    <section class="single-post">
      <div class="contact-info">
        <h2>Let's talk. I'd love to hear from you:</h2>
        <br>
        <h2>
          <span role="img" aria-label="right-arrow" class="outline-arrow">&#10551;</span>&nbsp; 
          <a href="mailto:elenasosalerin@gmail.com" title="Send me an email, don't be shy!" target="blank">
            elenasosalerin@gmail.com</a>
        </h2>
        <p>
          Email me to talk about your ideas and projects. Or maybe you have comments, suggestions, or critiques about anything on my site? Spotted a typo? (It happens.) <br>Drop me a line to let me know.
        </p>

        <h2>
          <span role="img" aria-label="right-arrow" class="outline-arrow">&#10551;</span>&nbsp;
          <a href="https://twitter.com/e_sarin" title="Check out my Twitter timeline" target="blank"> @e_sarin</a>&nbsp;on Twitter
        </h2>

        <p>
          If you have a quick note or want to say hi, please tweet at me or send me a
          direct message (DM). My DMs are open, which means we don't have to
          follow each other for me to get your messages.
        </p>
        <p>
          <span class="thick">
            <span role="img" aria-label="hand pointing to the right" class="right-hand">&#9758</span> I look forward to seeing what I can craft for you.</p>

      </div>
    </section>
  </article>
  {% endblock %}    