---
title: Photography | Elena Sosa Lerín
layout: layouts/basic-plus.njk
about: Selected Photography
description: Glimpses from here and there and over there.
---
{% block content %}
<main id="main">
<section class="img-container">
       <!-- image 1 -->
       <div class="gallery-container w-3 h-2">
        <div class="gallery-item">
          <figure>
            <img data-src="/img/portfolio-bike-huila-colombia-2018.jpg" loading="lazy" alt="A man rides a motorbike on a highway somewhere in the region of Huila, Colombia. Image shot by Elena Sosa Lerín in 2018." class="lazyload">
            <figcaption>
              <p>Huila, Colombia</p>
            </figcaption>
          </figure>
        </div>
      </div>

      <!-- image 2 -->
     <div class="gallery-container w-3 h-3">
      <div class="gallery-item">
        <figure>
          <img data-src="/img/portfolio-blantyre-malawi-2011.jpg" loading="lazy" alt="An older man who can't afford the minibus fee walks home after work on a road surrounded by jacaranda trees in bloom. Image shot by Elena Sosa Lerín in 2011." class="lazyload">
          <figcaption>
            <p>Blantyre, Malawi</p>
          </figcaption>
        </figure>
      </div>
    </div>

      <!-- image 3 -->
    <div class="gallery-container w-3 h-4">
      <div class="gallery-item">
        <figure>
          <img data-src="/img/portfolio-cape-coast-ghana-2020.jpg" loading="lazy" alt="View from Cape Coast Castle of the beach where fishermen are preparing their nets while children play footbal around them. Image shot by Elena Sosa Lerín in 2020." class="lazyload">
          <figcaption>
            <p>Cape Coast, Ghana</p>
          </figcaption>
          </figure>
        </div>
      </div> 

     <!-- image 4 -->
     <div class="gallery-container w-3 h-2">
      <div class="gallery-item">
        <figure>  
        <img data-src="/img/portfolio-mexico-city-2014.jpg" loading="lazy" alt="Image of the outside of a local convenience store in Mexico City that sells mops, bags, and otehr house cleaning items. Image shot by Elena Sosa Lerín in 2017." class="lazyload">
          <figcaption>
            <p>Mexico City, Mexico</p>
          </figcaption>
        </figure>
      </div>
    </div> 

    <!-- image 5 -->
    <div class="gallery-container w-3 h-2">
      <div class="gallery-item">
        <figure>
          <img data-src="/img/portfolio-mountains-huila-colombia-2018.jpg" loading="lazy" alt="The Magdalena river cutting through misty mountains in Huila, Colombia. Image shot by Elena Sosa Lerín in 2018." class="lazyload">
          <figcaption>
            <p>Huila, Colombia</p>
          </figcaption>
        </figure>
      </div>
    </div> 

      <!-- image 6 -->
 <div class="gallery-container w-3 h-2">
  <div class="gallery-item">
    <figure>
      <img data-src="/img/portfolio-elephants-chobe-botswana-2014.jpg" loading="lazy" alt="A baby elephant follows its mother while enjoying the water at Chobe National Park in northern Botswana. Image shot by Elena Sosa Lerín in 2014." class="lazyload">
      <figcaption>
        <p>Chobe, Botswana</p>
      </figcaption>
    </figure>
  </div>
</div>

      <!-- image 7 -->
      <div class="gallery-container w-3 h-2">
        <div class="gallery-item">
          <figure>
            <img data-src="/img/portfolio-mac-mac-pools-southafrica-2015.jpg" loading="lazy" alt="The mountains and trees surrounding the natural pools called Mac Mac in Mpumalanga, in eastern South Africa. Image shot by Elena Sosa Lerín in 2015." class="lazyload">
            <figcaption>
              <p>Mpumalanga, South Africa</p>
            </figcaption>
          </figure>
        </div>
      </div>

        <!-- image 8 -->
     <div class="gallery-container w-3 h-3">
      <div class="gallery-item">
       <figure>
         <img data-src="/img/portfolio-zihuatanejo-mexico-2014.jpg" loading="lazy" alt="View from a bridge of boats sailing from Playa Larga, Zihuatanejo in Mexico. Image shot by Elena Sosa Lerín in 2014." class="lazyload">
         <figcaption>
           <p>Zihuatanejo, Mexico</p>
         </figcaption>
       </figure>
     </div>
   </div>
       
     <!-- image 9 -->
     <div class="gallery-container w-3 h-2">
      <div class="gallery-item">
        <figure>
          <img data-src="/img/portfolio-balcony-atlixco-puebla.jpg" loading="lazy" alt="View of a window surrounded by colourful pot flowers and plants in Atlixco, Mexico. Image shot by Elena Sosa Lerín in 2017." class="lazyload">
          <figcaption>
            <p>Atlixco, Mexico</p>
          </figcaption>
        </figure>
      </div>
    </div>

     <!-- image 10 -->
     <div class="gallery-container w-2 h-3">
      <div class="gallery-item">
        <figure>
          <img data-src="/img/portfolio-medellin-colombia-2018.jpg" loading="lazy" alt="Women standing around the statue of a naked woman at Botero Park in Medellin, Colombia. Image shot by Elena Sosa Lerín in 2018." class="lazyload">
          <figcaption>
            <p>Medellin, Colombia</p>
          </figcaption>
        </figure>
      </div>
    </div>

    <!-- image 11 -->
    <div class="gallery-container w-4 h-3">
      <div class="gallery-item">
        <figure>
          <img data-src="/img/portfolio-giraffe-chobe-botswana-2020.jpg" loading="lazy" alt="Close up of the head and neck of a giraffe at Chobe National Park, Botswana. Image shot by Elena Sosa Lerín in 2014." class="lazyload">
          <figcaption>
            <p>Chobe, Botswana</p>
          </figcaption>
        </figure>
      </div>
    </div>


       <!-- image 12 -->
       <div class="gallery-container w-3 h-4">
        <div class="gallery-item">
          <figure>
            <img data-src="/img/portfolio-diani-kenya-2016.jpg" loading="lazy" alt="Riding a camel along Diani beach before sunset. Elena Sosa Lerín in 2016." class="lazyload">
            <figcaption>
              <p>Diani Beach, Kenya</p>
            </figcaption>
          </figure>
        </div>
      </div>
    
    
       <!-- image 13 -->
       <div class="gallery-container w-3 h-2">
        <div class="gallery-item">
          <figure>
            <img data-src="/img/portfolio-guanajuato-mexico-2017.jpg" loading="lazy" alt="Colourful houses on a hill in the city of Guanajuato, Mexico. Elena Sosa Lerín in 2017." class="lazyload">
            <figcaption>
              <p>Guanajuato, Mexico</p>
            </figcaption>
          </figure>
        </div>
      </div>  
    </section>
    </main>
    {% endblock %}   