---
title: Privacy Statement | Elena Sosa Lerín
layout: layouts/basic-plus.njk
about: Privacy
description: No annoying cookies or pop-up windows.
---

{% block content %}
<div class="image-container">
    <figure>
      <img data-src="/img/puppy-covering-face.jpg" loading="lazy" alt="A sleepy puppy covers its face." class="lazyload">
      <figcaption>
        <p><span class="thick">Photo:</span> Image concept based on <a href="https://kaboompics.com/photo/17700/sleepy-cute-dog" target="blank">a photo</a> by Karolina Grabowska from Kaboom Pics.</p>
      </figcaption>
    </figure>
  </div>
  <article class="content-post">
    <section class="single-post">
      <h3>I respect your privacy.</h3>

      <p>I believe in protecting personhood and democracy in the digital network age.</p>

      <p>
        Therefore, I don't collect any personal information about this website's visitors. I don't track you. I don't make money from this website or any of its content. This is an ad free and cookie free space. </p>

      <p>Some of the links on this site will take you to websites with different privacy policies to which you will be subject to. I take no reponsiblity for them.</p>

      <p>If you contact me, I'll not share your email with any other individuals, businesses or organizations.</p>

      <p>If you have any questions or concerns about this privacy policy, or any other privacy-related issues that are important to you, please <a href="/contact">get in touch</a>.
      </p>
      
    </section>
  </article>
  {% endblock %}   