---
title: Privacy Statement | Elena Sosa Lerín
layout: layouts/basic-plus.njk
about: Privacy
description: No annoying cookies or pop-up windows.
---

{% block content %}
<div class="image-container">
    <figure>
      <img data-src="/img/puppy-covering-face.jpg" loading="lazy" alt="A sleepy puppy covers its face." class="lazyload">
      <figcaption>
        <p><span class="thick">Photo:</span> Image concept based on <a href="https://kaboompics.com/photo/17700/sleepy-cute-dog" target="blank">a photo</a> by Karolina Grabowska from Kaboom Pics.</p>
      </figcaption>
    </figure>
  </div>
  <article class="content-post">
    <section class="single-post">

      <h3>I respect your privacy.</h3>

      <p>
      I don't make money from this website or any of its content. It's an ad free and cookie free space. </p>

      <p>
      To keep it running smoothly I use Statcounter. It's a web analytics service that provides me with me some statistics about visits to this site. This service provides aggregate data, which means, I don't collect any personal information about you from this service.
      </p>

      <p>
      I encourage you to view Statcounter's <a href="https://statcounter.com/about/legal/" target="_blank"> privacy policy</a> if you're concerned about how this service works and what data it collects.
      </p>

      <p>
      Some of the links on this site will take you to websites with different privacy policies to which you will be subject to. I take no reponsiblity for them.
      </p>

      <p>If you contact me, I'll not share your email with any other individuals, businesses or organizations.</p>

      <p>If you have any questions or concerns about this privacy policy, or any other privacy-related issues that are important to you, please <a href="/contact">get in touch</a>.
      </p>

      <p>
      <em>Last updated:</em> Friday, October 16, 2020.
      </p>
      
    </section>
  </article>
  {% endblock %}   