---
title: Web Dev Projects | Elena Sosa Lerín
layout: layouts/basic-plus.njk
about: Web Dev Projects
description: Coming soon.
---
{% block content %}
<main class="page projects-page">
      <section class="portfolio-block projects-cards">
        <div class="container">
          <div class="row">
            <!-- first card -->
            <div class="col-md-6 col-lg-4">
              <div class="card border-0">
                <a href="#">
                  <img class="card-img-top scale-on-hover" src="/img/journalism-comms.jpg" loading="lazy"
                    alt="Thick green leaves against an ocre-colour wall. This photo is by Mark Neal from Unsplash." class="lazyload" />
                </a>
                <div class="card-body">
                  <h6><a href="#">Name of Project 1</a></h6>
                </div>
              </div>
            </div>
            <!-- second card -->
            <div class="col-md-6 col-lg-4">
              <div class="card border-0">
                <a href="#">
                  <img class="card-img-top scale-on-hover" src="/img/photography.jpg" loading="lazy"
                    alt="A rubber tree plant against a solid pink wall. This photo is by Scott Webb from Unsplash." class="lazyload" /></a>
                <div class="card-body">
                  <h6><a href="#">Name of Project 2</a></h6>
                </div>
              </div>
            </div>
            <!-- third card -->
            <div class="col-md-6 col-lg-4">
              <div class="card border-0">
                <a href="#"><img class="card-img-top scale-on-hover" src="/img/website-mockup.jpg" loading="lazy"
                    alt="Thin and long green leaves against a mustard-colour wall. This photo is by Valeriia Miller from Pexels." class"lazyload" /></a>
                <div class="card-body">
                  <h6><a href="#">Name of Project 3</a></h6>
                </div>
              </div>
            </div>

          <!-- fourth card -->
            <div class="col-md-6 col-lg-4">
              <div class="card border-0">
                <a href="#">
                  <img class="card-img-top scale-on-hover" src="/img/photography.jpg" loading="lazy"
                    alt="A rubber tree plant against a solid pink wall. This photo is by Scott Webb from Unsplash." class="lazyload" /></a>
                <div class="card-body">
                  <h6><a href="#">Name of Project 4</a></h6>
                </div>
              </div>
            </div>

           <!-- fifth card -->
            <div class="col-md-6 col-lg-4">
              <div class="card border-0">
                <a href="#"><img class="card-img-top scale-on-hover" src="/img/website-mockup.jpg" loading="lazy"
                    alt="Thin and long green leaves against a mustard-colour wall. This photo is by Valeriia Miller from Pexels." class="lazyload" /></a>
                <div class="card-body">
                  <h6><a href="#">Name of Project 5</a></h6>
                </div>
              </div>
            </div>

             <!-- sixth card -->
            <div class="col-md-6 col-lg-4">
              <div class="card border-0">
                <a href="#">
                  <img class="card-img-top scale-on-hover" src="/img/journalism-comms.jpg" loading="lazy"
                    alt="Thick green leaves against an ocre-colour wall. This photo is by Mark Neal from Unsplash." class="lazyload" />
                </a>
                <div class="card-body">
                  <h6><a href="#">Name of Project 6</a></h6>
                </div>
              </div>
            </div>
        <!-- end of cards -->
          </div>
        </div>
      </section>
    </main>
    {% endblock %}   