---
title: Work | Elena Sosa Lerín
layout: layouts/basic-plus.njk
about: Selected Work
---

{% block content %}
 <main class="page projects-page">
      <section class="portfolio-block projects-cards">
        <div class="container">
          <div class="row">

            <!-- first card -->
            <div class="col-md-6 col-lg-4">
              <div class="card border-0">
                <a href="/writing">
                  <img class="card-img-top scale-on-hover" src="/img/journalism-comms.jpg" loading="lazy"
                    alt="Thick green leaves against an ocre-colour wall. This photo is by Mark Neal from Unsplash." class="lazyload" />
                </a>
                <div class="card-body">
                  <h6><a href="/writing">Writing</a></h6>
                </div>
              </div>
            </div>
            <!-- second card -->
            <div class="col-md-6 col-lg-4">
              <div class="card border-0">
                <a href="/photography">
                  <img class="card-img-top scale-on-hover" src="/img/photography.jpg" loading="lazy"
                    alt="A rubber tree plant against a solid pink wall. This photo is by Scott Webb from Unsplash." class="lazyload" /></a>
                <div class="card-body">
                  <h6><a href="/photography">Photography</a></h6>
                </div>
              </div>
            </div>
            <!-- third card -->
            <div class="col-md-6 col-lg-4">
              <div class="card border-0">
                <a href="/web-dev-projects"><img class="card-img-top scale-on-hover" src="/img/website-mockup.jpg" loading="lazy"
                    alt="Thin and long green leaves against a mustard-colour wall. This photo is by Valeriia Miller from Pexels." class="lazyload" /></a>
                <div class="card-body">
                  <h6><a href="/web-dev-projects">Web Dev Projects<br>(Coming soon)</a></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
     {% endblock %}   