<!DOCTYPE html>
<html lang="en-CA">

<head>
<title> {{ title }} </title>
 {% include "layouts/page-head.njk" %}
 
 {% if ignore %}
    <meta name="robots" content="noindex"/>
  {% endif %}
</head>

<body>
  {% include "layouts/nav.njk" %}

    {{ content | safe }}
  
  {% include "layouts/footer.njk" %}
  {% include "layouts/footer-scripts.njk" %}

  <!-- Default Statcounter code -->

<script type="text/javascript">
var sc_project=12411314; 
var sc_invisible=1; 
var sc_security="33695106"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async>
</script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/12411314/0/33695106/1/"
alt="Web Analytics"></a></div>
</noscript>

<!-- End of Statcounter Code -->
</body>

</html>