<!--section class="section-split-dashed"></section> -->
<footer>
      <div class="container">
        <div class="row">
          <!-- first column -->
          <div class="col-sm-6 col-md-3 item">
            <h3>Menu</h3>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/notebook">Notebook</a></li>
              <li><a href="/writing">Selected Writing</a></li>
              <li><a href="/photography">Photography</a></li>
              <li><a href="/web-dev-projects">Web Dev Projects</a></li>
              <li><a href="/about">About Me</a></li>
              <li><a href="/about-this-site">About Site</a></li>
              <li><a href="/privacy">Privacy</a></li>
              <li><a href="/contact">Get in Touch</a></li>
            </ul>
          </div>
          <!-- second column social media -->
          <div class="col-sm-6 col-md-3 item">
            <h3>Let's Connect</h3>
            <ul>
              <li>
                <a
                  href="mailto:elenasosalerin@gmail.com?subject=Hi, Elena!"
                  title="Write me an email"
                  target="_self" data-content="elenasosalerin@gmail.com" data-type="mail"
                  ><i class="far fa-envelope" aria-hidden="true"></i
                  >&nbsp;&nbsp;elenasosalerin@gmail.com
                </a>
              </li>

              <li>
                <a
                  href="https://www.linkedin.com/in/egsarin/"
                  title="Connect with me on LinkedIn."
                  target="blank">
                  <i class="fab fa-linkedin" aria-hidden="true"></i>&nbsp;&nbsp;LinkedIn
                </a>
              </li>

            </ul>
          </div>
          
          <!-- third column -->
          <div class="col-md-6 item text">
            <h3>About this Site</h3>
            <p>
             I hand coded <a href="/about-this-site">this site</a> using HTML, CSS, and JavaScript. It's a work in progress powered by <a href="https://www.11ty.dev/" target="blank">
              Eleventy</a> and <a href="https://www.netlify.com/" target="blank">Netlify</a>. All visuals, unless stated otherwise, are mine. All views expressed here are my own. I don't track you because I respect your <a href="/privacy">privacy</a>. <br>Thanks for dropping by! <i class="fas fa-heart" aria-hidden="true"></i> 
            </p>
          </div>
        </div>

        <p id="top">
          <a href="#top">Back to the top <i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a>
        </p>

        <p class="copyright">
          <i class="fas fa-sun fa-spin" aria-hidden="true"></i>&nbsp;Code, design, and copy by: me, of course <br />&copy; 2020-2024
        </p>
      </div>
    </footer>
    