{# Skip to content link  #}
<header>
<a class="skip-link screen-reader-text" href="#main">Skip to content</a>
<a id="top"></a>
      <nav class="navbar">
        <!-- brand -->
        <a href="/" class="brand">elena sosa lerín</a>

        <!-- Animated Burger -->
        <label class="navbar-toggle" id="js-navbar-toggle" for="chkToggle">
          <svg
            class="burger burgerRotate burger8"
            viewBox="0 0 100 100"
            width="54"
            onclick="this.classList.toggle('active')"
          >
            <path
              class="line top"
              d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"
            />
            <path class="line middle" d="m 30,50 h 40" />
            <path
              class="line bottom"
              d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"
            />
          </svg>
        </label>
        <input type="checkbox" id="chkToggle" />

        <!-- menu  -->
        <ul class="main-nav" aria-label="Main navigation" id="js-menu">
          <li>
            <a href="/" class="nav-links">Home</a>
          </li>
          <li>
            <a href="/notebook" class="nav-links">Notebook</a>
          </li>
          <li>
            <a href="/work" class="nav-links">Work</a>
          </li>
          <li>
            <a href="/about" class="nav-links">About</a>
          </li>
          <li>
            <a href="/contact" class="nav-links">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
    