    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- General meta data -->
    <meta name="description" content="{{ description or meta.description }}">
    <link rel="canonical" href="{{site.root}}{{page.url}}">
    <meta name="robots" content="index, follow" />

    <!-- Open Graph -->
    <meta property="og:site_name" content="{{ meta.title }}">
    <meta property="og:title" content="{{ title or meta.title }}">
    <meta property="og:description" content="{{ description  or meta.description }}">
    <meta property="og:url" content="{{ absolutePageUrl }}">
    <meta property="og:locale" content="{{ meta.locale }}">
    <meta name="twitter:card" content="{% if image -%}summary_large_image{% else %}summary{% endif %}">
    {%- if image -%}
    <meta property="og:image" content="{{ image | url | absoluteUrl(meta.url) }}">
    {%- endif -%}

    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Elena Sosa Lerín">
    <meta itemprop="description" content="Elena Sosa Lerín is a curious and creative international communications specialist based in southwest Alberta, Canada, who writes, takes photos, and codes.">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/img/favicon/apple-touch-icon.png' | url }}">
    <link rel="icon" type="image/png" href="{{ '/img/favicon/favicon-32x32.png' | url }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ '/img/favicon/favicon-16x16.png' | url }}" sizes="16x16">
    <link rel="shortcut icon" href="{{ '/img/favicon/favicon.ico' | url }}">
    <link rel="manifest" href="{{ '/site.webmanifest' | url }}">
    <meta name="theme-color" content="#1a1a1a">
    <link rel="icon" type="image/x-icon" href="/favicon.ico"   />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- Fontawesome -->
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"
      integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1"
      crossorigin="anonymous">
      </script>

     <!-- Google Fonts -->
    <link href=
    https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css>
    <link href="https://fonts.googleapis.com/css?family=Domine|Roboto&display=swap" rel="stylesheet"/>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
      <!-- CSS -->
    <link href="/css/globalstyle.css" rel="stylesheet" />
    <link href="/css/homepage.css" rel="stylesheet" />

  </head>
