<!DOCTYPE html>
<html lang="en-CA">

<head>
<title> {{ title }} </title>
 {% include "layouts/page-head.njk" %}
</head>

<body>
  {% include "layouts/nav.njk" %}
  
  <main id="main">
  <article class="content-post">
     <section class="single-post">
        <h3> {{ title }} </h3>
           <div class="separator"></div>
             <div class="metadata">
               <p class="date">
                <span role="img" aria-label="lower-right pencil" class="pencil">&#9998;</span> 
                  <time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time>
               </p>
             </div>

  {{ content | safe }}

    <div class="hr"></div>  
  <p>
  <span role="img" aria-label="eyeballs" class="Eyes wide open">👀</span> Did I miss anything? Make a mistake? Let me know. Or share with me your thoughts, suggestions, or critiques. <br>
  Follow me on <span class="thick">Twitter: </span><a href="https://twitter.com/e_sarin" target="blank"> @e_sarin</a>. Or <span class="thick">email</span> me at: <a href="mailto:elenasosalerin@gmail.com" target="blank"> elenasosalerin@gmail.com</a>.
  </p>
</section>
  
  
<nav>
   <div class="continue slide">
          <a href="/notebook">&larr;&nbsp;See all my Notes</a>
   </div>
</nav>

  </article>
  </main>

  {% include "layouts/footer.njk" %}
  {% include "layouts/footer-scripts.njk" %}
</body>

</html>